body {
    margin: 0 auto;
    padding: 0 auto;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

div.title-decorator-div {
    display: block;
    background-color: rgb(90, 60, 60);
    height: 2px;
    margin-top: 10px;
}

nav ul {
    text-align: start;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 1.2%;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav {
    display: block;
    background-color: black;
    height: 50px;
}

img {
    width: 600px;
    height: 400px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
}

