.super-mario {
  width: 200px;
  position: absolute;
}

.goomba {
  width: 100px;
  top: 360px;
  left: 100px;
  position: absolute;

}

.baloon {
  position: absolute;
  left: 250px;
  bottom: 270px;
}

.speach {
  position: absolute;
  left: 270px;
  top: 210px;
  font-size: 25px;
  z-index: 1;
}

.bowser {
  width: 200px;
}
