div:hover {
    border: 2px solid rebeccapurple;
    color: white;
}

.primary {
    background-color: red;
}

.secundary {
    background-color: brown;
}

.complementary {
    background-color: purple;
}

.dark {
    background-color: black;
}

.bright {
    background-color: rgb(255, 228, 187);
}